<div class="left_side">
    <div class="left_side_title">
        <a href="/product" title="Ugrás a kezdőlapra" name="Csere.hu">Csere.hu</a>
    </div>
    <div class="image_holder">
        <%= image_tag "products/" + @product.get_image, :width => "240px", :alt => @product.add_name, :title => @product.add_name %>
        <div class="product_name"><span><%= @product.add_name %></span></div>
    </div>
</div>
<div class="main_frame">
<div class="main_frame_top"><span>Termék módosítása</span></div>
    <div class="main_frame_content">
    	<div class="reg_container">
        <%= flash[:notice] %>
        <fieldset>
			<%= form_for :product, :html => {:multipart => true}, :url => {:action => "update", :id => @product.id } do |form| %>
            <div>
                <%= form.label :Megnevezés %><br>
                <%= form.text_field :add_name %>
            </div>
            <div>
                <%= form.label :Érték %><br>
                <%= form.number_field :add_price %>HUF
            </div>
            <div>
                <%= form.label :Kép %><br>
                <%= form.file_field :add_pic %> (herokun read-only filerendszer van!)
            </div>
            <div>
                <%= form.label :Tulajdonos %><br>
				<%= select :product, :login_id ,Login.find(:all).collect{|p| [p.firstname + " " + p.lastname, p.id]}%>
            </div>
            <%= submit_tag "Mentés" %>
            <% end %>
        </fieldset>
        </div>
	</div>
</div>