<div class="left_side">
    <div class="left_side_title">
        <a href="/product" title="Ugrás a kezdőlapra" name="Csere.hu">Csere.hu</a>
    </div>
    <div class="image_holder">
		<%= image_tag "products/" + @product.get_image, :width => "240px", :alt => @product.add_name, :title => @product.add_name %>
        <div class="product_name"><span><%= @product.add_name %></span></div>
    </div>
</div>
<div class="main_frame">
<div class="main_frame_top"><span>Termék</span>   
</div>
<div class="reg_container">    
    <%= flash[:msg] %>
    <h2><%=h(@product.add_name)%></h2>
    Érték: <%=h(@product.add_price)%> HUF <br>
	<% if @kie %>
		Tulajdonos: <%= link_to @kie.firstname + " " + @kie.lastname, :controller => "login", :action => "show", :id => @kie.id %><br>
		<% if @kie.id == 1 %>
			<%= link_to "Aktiválás", :action => "aktivalas", :id => @product.id, :owner => @kie.id %>
		<% end %>
	<% else %>
		<strong>Tulajdonos nem található</strong>
	<% end %>
    <div class="gomb">
		<%= link_to "Szerkeszt", :controller => "product", :action => "edit", :id => @product.id %>
    	<%= link_to "Töröl", { :controller => "product", :action => "destroy", :id => @product.id }, :confirm => "Biztosan törli?", :method => :delete %>
    	<%= link_to "Vissza", :controller => "product", :action => "index" %>
	</div>
</div>