<div class="left_side">
    <div class="left_side_title">
        <a href="/product" title="Ugrás a kezdőlapra" name="Csere.hu">Csere.hu</a>
    </div>
    <div class="image_holder">
        
    </div>
</div>
<div class="main_frame">
<div class="main_frame_top">
    <span>Felhasználó létrehozása</span>
</div>
	<%= flash[:notice] %>
    <div class="reg_container fl 50">        
        <fieldset>
            <%= form_for :user, :url => {:action => "create"} do |form| %>
            <div>
                <%= form.label :Keresztnév %><br>
                <%= form.text_field :firstname %>
            </div>
            <div>
                <%= form.label :Vezetéknév %><br>
                <%= form.text_field :lastname %>
            </div>
            <div>
                <%= form.label :Email %><br>
                <%= form.text_field :email %>
            </div>
            <div>
                <%= form.label :Jelszó %><br>
                <%= form.password_field :password %>
            </div>
            <%= submit_tag "Regisztráció" %>
            <% end %>
        </fieldset>
    </div>
	<div class="reg_container fr 50">
        <fieldset>
            <%= form_for :user, :url => {:action => "login"} do |form| %>
            <div>
                <%= form.label :Email %><br>
                <%= form.text_field :l_email %>
            </div>
            <div>
                <%= form.label :Jelszó %><br>
                <%= form.password_field :l_password %>
            </div>
            <%= submit_tag "Bejelentkezés" %>
            <% end %>
        </fieldset>
    </div>
</div>