<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Csere.hu | Ahol minden gazdára talál</title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :all %>
		<%= csrf_meta_tag %>
	</head>
	
	<body>
	    <div class="header">
	        <div class="wrapper">
	            <div class="menu">
	                <% if !logged_in? %>	                                    
	                    <%= link_to "Regisztráció", :controller => "login", :action => "index" %>	                    
	                <% else %>
						<%= link_to "Termék", :controller => "product", :action => "index" %>
	                    <%= link_to "Termék hozzáadása", :controller => "product", :action => "add" %>
	                    <%= link_to "Felhasználók listája", :controller => "login", :action => "list" %>
						<%= link_to "Profilom", :controller => "login", :action => "show", :id => session[:user] %>
						<%= link_to "Kijelentkezés", :controller => "login", :action => "logout" %>
					<% end %>
	            </div>
	        </div>
	    </div>
	    <div class="wrapper">
			<%= yield %>
		</div>		
	</body>
</html>